extends markdown

# 
global !p
def get_category(snip):
	for i in range(1,5):
		line = snip.buffer[snip.line - i]
		if line and line[0] == '#':
			category = line.lstrip('#').lstrip().lower()
			snip.expand_anon(category)
			return
endglobal

# til i learned link
post_jump "if snip.tabstop == 2: get_category(snip)"
snippet til "description"
[$1]($2/$1)
endsnippet
